.search-input {
  color: black;
  border-color: black;
  margin-bottom: 5px;
}

.search-input:focus {
  color: black;
  border-color: black;
}
.category-select-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.category-select-wrap > select {
  width: 50%;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  background: var(--my-purple-1);
  transition: letter-spacing 0.2s ease-in;
  text-align: center;
}

.category-select-wrap > select:hover {
  letter-spacing: 2px;
  cursor: pointer;
}
