.my-store-icon:hover {
  color: white;
}

.my-nav-btn {
  background: none;
  margin-right: 5px;
}

.my-nav-btn:hover {
  background: black;
}
.my-nav-btn > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.show-info {
  display: none;
}
