.filterable-cards {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex-basis: 300px;
  background-color: #fff;
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card img {
  border-radius: 8px 8px 0 0;
  height: 210px;
  object-fit: cover;
  width: 100%;
}

.card-body {
  padding: 15px 20px 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.card-text {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

@media (max-width: 800px) {
  .card {
    flex-grow: 1;
  }
}
